name: scraper

on:
    workflow_dispatch:
    schedule:
        - cron: "0 12 * * *" # runs at 12:00 UTC everyday

jobs:
    generate_list:
        runs-on: ubuntu-slim
        steps:
            - name: checkout repo content
              uses: actions/checkout@v6

            - name: Install uv
              uses: astral-sh/setup-uv@v7

            - name: execute py script
              run: uv run scraper.py

            - name: create adblocking lists
              run: |
                  sed 's/^/\|\|/;s/$/\^/' global-anti-scam-org-scam-urls-pihole.txt > global-anti-scam-org-scam-urls-ABP.txt
                  sed 's/^/\|\|/;s/$/\^$all/' global-anti-scam-org-scam-urls-pihole.txt > global-anti-scam-org-scam-urls-UBO.txt

            - name: commit files
              run: |
                  git config --local user.email "action@github.com"
                  git config --local user.name "GitHub Action"
                  git add -A
                  git diff --name-only --cached --exit-code || ( git commit -am "update blocklist" && git push )
